<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Cars</h1>
        <hr />
        <br />
        <br />
        <button type="button" class="btn btn-success btn-sm" v-b-modal.car-modal>Add Car</button>
        <br />
        <br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Make</th>
              <th scope="col">Model</th>
              <th scope="col">Year</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(car, index) in cars" :key="index">
              <td>{{ car.car_make }}</td>
              <td>{{ car.car_model }}</td>
              <td>{{ car.car_year }}</td>
              <td>
                <button type="button"
                        class="btn btn-warning btn-sm"
                        v-b-modal.car-update-modal
                        @click=editCar(car)>Update</button>
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        @click=onDeleteCar(car)>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addCarModal" id="car-modal" title="Add a new car" hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-make-group" label="Make:" label-for="form-make-input">
          <b-form-input
            id="form-make-input"
            type="text"
            v-model="addCarForm.car_make"
            required
            placeholder="Enter make"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="form-model-group" label="Model:" label-for="form-model-input">
          <b-form-input
            id="form-model-input"
            type="text"
            v-model="addCarForm.car_model"
            required
            placeholder="Enter model"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="form-year-group" label="Year:" label-for="form-year-input">
          <b-form-input
            id="form-year-input"
            type="text"
            v-model="addCarForm.car_year"
            required
            placeholder="Enter year"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editCarModal"
         id="car-update-modal"
         title="Update"
         hide-footer>
  <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
  <b-form-group id="form-make-edit-group"
                label="Make:"
                label-for="form-make-edit-input">
      <b-form-input id="form-make-edit-input"
                    type="text"
                    v-model="editForm.car_make"
                    required
                    placeholder="Enter make">
      </b-form-input>
    </b-form-group>
    <b-form-group id="form-model-edit-group"
                  label="Model:"
                  label-for="form-model-edit-input">
        <b-form-input id="form-model-edit-input"
                      type="text"
                      v-model="editForm.car_model"
                      required
                      placeholder="Enter model">
        </b-form-input>
      </b-form-group>
    <b-form-group id="form-year-edit-group"
                  label="Year:"
                  label-for="form-year-edit-input">
        <b-form-input id="form-year-edit-input"
                      type="text"
                      v-model="editForm.car_year"
                      required
                      placeholder="Enter year">
        </b-form-input>
      </b-form-group>
    <b-button-group>
      <b-button type="submit" variant="primary">Update</b-button>
      <b-button type="reset" variant="danger">Cancel</b-button>
    </b-button-group>
  </b-form>
</b-modal>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      cars: [],
      addCarForm: {
        car_make: '',
        car_model: '',
        car_year: '',
      },
      editForm: {
        id: '',
        car_make: '',
        car_model: '',
        car_year: '',
      },
    };
  },
  methods: {
    getCars() {
      const path = 'http://85.192.35.28:5100/api/cars';
      axios
        .get(path)
        .then((res) => {
          this.cars = res.data.items;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addCar(payload) {
      const path = 'http://85.192.35.28:5100/api/cars';
      axios
        .post(path, payload)
        .then(() => {
          this.getCars();
        })
        .catch((error) => {
          // eslint-disable-next-line
         console.error(error);
          this.getCars();
        });
    },
    initForm() {
      this.addCarForm.car_make = '';
      this.addCarForm.car_model = '';
      this.addCarForm.car_year = '';
    },
    onSubmit(e) {
      e.preventDefault();
      this.$refs.addCarModal.hide();
      const payload = {
        car_make: this.addCarForm.car_make,
        car_model: this.addCarForm.car_model,
        car_year: this.addCarForm.car_year,
      };
      this.addCar(payload);
      this.initForm();
    },
    onReset(e) {
      e.preventDefault();
      this.$refs.addCarModal.hide();
      this.initForm();
    },
    removeCar(carID) {
      const path = `http://85.192.35.28:5100/api/cars/${carID}`;
      axios.delete(path)
        .then(() => {
          this.getCars();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getCars();
        });
    },
    onDeleteCar(car) {
      this.removeCar(car.id);
    },
    editCar(car) {
      this.editForm = car;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCarModal.hide();
      const payload = {
        car_make: this.editForm.car_make,
        car_modal: this.editForm.car_model,
        car_year: this.editForm.car_year,
      };
      this.updateCar(payload, this.editForm.id);
    },
    updateCar(payload, carID) {
      const path = `http://85.192.35.28:5100/api/cars/${carID}`;
      axios.put(path, payload)
        .then(() => {
          this.getCars();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getCars();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCarModal.hide();
      this.initForm();
      this.getCars(); // why?
    },
  },
  created() {
    this.getCars();
  },
};
</script>
